streamlit==1.39.0

firebase-admin==6.5.0
google-cloud-firestore==2.16.0

google-generativeai==0.7.2

cloudinary==1.41.0
clarifai==10.0.0

rembg==2.0.72
onnxruntime==1.18.0

gradio_client==1.4.2

numpy==1.26.4
Pillow==10.4.0

SpeechRecognition==3.10.4
gTTS==2.5.1
requests==2.32.3
